<div class="link-strip section light-text">
    <div class="link-child-section link-top-section">
        <h2>Title of product</h2>
        <p>Aliquam elit quam, iaculis a condimentum id, tempus non orci. Proin vitae aliquet ligula, ac porta mauris.</p>
    </div>
    <div class="link-child-section link-btm-section">
        <div class="link-child link-left">
            <h3>Contact us</h3>
            <ul>
                <li><a href="#">Customer Support</a></li>
                <li><a href="#">Email@abc.com</a></li>
            </ul>
        </div>
        <div class="link-child link-mid">
            <h3>Company</h3>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="link-child link-right">
            <img src="../static/img/sample-img.png">
        </div>

    </div>




</div>
