<div class="pricing-section section">
    <!--<div class="pricing-header pricing-child">
        <h1>Pricing</h1>
    </div>-->
    <div class="pricing-child card norm-color">
        <div class="card-top">
            <h1>FREE trial</h1>
            <p>One liner about the value etc.</p>
        </div>
        <div class="card-btm">
            <ul>
                <li>Feature 1</li>
                <li>Feature 2</li>
                <li>Feature 3</li>
            </ul>
        </div>
    </div>
    <!--<div class="pricing-child card norm-color">
        <div class="card-top">
            <h1>Monthly $$</h1>
            <p>One liner about the value etc.</p>
        </div>
        <div class="card-btm">
            <ul>
                <li>Feature 1</li>
                <li>Feature 2</li>
                <li>Feature 3</li>
            </ul>
        </div>
    </div>
    <div class="pricing-child card norm-color">
        <div class="card-top">
            <h1>Annual $$</h1>
            <p>One liner about the value etc.</p>
        </div>
        <div class="card-btm">
            <ul>
                <li>Feature 1</li>
                <li>Feature 2</li>
                <li>Feature 3</li>
            </ul>
        </div>
    </div>-->
</div>
