/* Navbar Shadow */
.drop-shadow {
    background-color: rgba(255, 255, 255, 0.96);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.06);
    -webkit-transition: box-shadow 0.5s;
    transition: box-shadow 0.5s;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

/* Link Styling */
a:hover {
    color: var(--accent-color);
}
