/*--------Mobile CSS Styling-------------*/

@media (max-width: 450px) {
    .navbar {
        display: none;
    }

    .section {
        width: 90%;
        flex-direction: column;
    }

    .hero-child {
        align-items: center;
        text-align: center;
        padding: 10px 0;
    }

    .sponsor-strip {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .sponsor-child {
        padding: 15px 5px;
    }

    .sponsor-child img {
        height: 50px;
    }

    .sp-1-right {
        order: 1;
    }

    .sp-1-left {
        order: 2;
    }

    .sp-1-child,
    .sp-1-m-child {

        align-items: center;
        text-align: center;
        padding: 10px 0;
    }

    .pricing-content {
        height: 100%;
    }

    .pricing-section {
        padding: 20px 0;
    }

    .card {
        margin: 20px 10px;
        padding: 15px 5px;
    }

    .pricing-header {
        display: flex;
        text-align: center;
    }

    .link-right {
        display: none;
    }

    .link-top-section {
        padding: 20px;
    }

    .link-btm-section {
        padding: 0 20px;
    }

    .link-child {
        padding: 0 15px;
    }

    .footer {
        align-items: center;
        font-size: 0.6rem;
    }
