#navbar {
    z-index: 100;
}

.navbar {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-child {
    flex-basis: 0;
    flex-grow: 1;
    align-items: center;
}

.nav-right {
    display: flex;
    justify-content: flex-end;
}


.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    padding: 0 1rem;
}

.navbar img {
    height: 50px;
}
