* {
    box-sizing: border-box;
    color: var(--s-color);
    font-family: 'Noto Sans JP', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Open Sans', sans-serif;

}

a {
    text-decoration: none;
}

body {
    margin: 0
}

.container {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.section {
    display: flex;
    width: 80%;
}

.rev-color,
.rev-color * {
    background-color: var(--s-color);
    color: var(--p-color);
}

.norm-color,
.norm-color * {
    background-color: var(--p-color);
    color: var(--s-color);
}

.dark-color,
.dark-color * {
    background-color: var(--d-color);
    color: var(--p-color);
}
